* {
    box-sizing: border-box;
}

body {
    background-color:lavender;
}

.title {
    background-color: lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    border: solid 3px black;
}

img {
    height: auto;
    width: 700px;
    display: block;
    border: solid 2px black;
    margin: auto;
}

li {
    font-size: 24px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}