* {
    box-sizing: border-box;
}

body {
    background-color:lavender;
}

.title {
    background-color: lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: italic;
    border: inset 6px black;
}

img {
    height: auto;
    width: 700px;
    display: block;
    border: solid 2px black;
    margin: auto;
}

.container {
    height: auto;
    width: 700px;
    border: 6px inset lightgrey;
    margin: 24px auto;
    padding: 8px;
    background-color: seashell;
    display: flex;
    justify-content: space-between;
}

.item {
    background-color: lightgray;
    display: inline-block;
    border: 6px inset blanchedalmond;
    padding: 8px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

li {
    font-size: 24px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}